@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*

When updating the .css file run this command to update it (needed for tailwindcss) :

    npx tailwindcss -i ./src/styles/input.css -o ./src/styles/global.css --watch

*/

/* Coolors Exported Palette - https://coolors.co/ffa46c-c2d3cd-3a3335-0471a6-061826 */
/* SCSS HEX */
:root {
    --primary-color: #0b5dd5;
}

/* SCSS Gradient */


html {
    //background-color: var(--back);
    //font-family: "Raleway", sans-serif;
    //font-weight: 500;
    //color: var(--font-color);
}

body {
}

.main-container {
    position: relative;
    display: grid;
    grid-auto-columns: max-content auto;
}

hr.rounded {
    border: 3px solid var(--primary);
    border-radius: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
}

.main-head {
    grid-column: 1/3;
    grid-row-start: 1;
    height: 4rem;
    padding: 0 10px;
    border-bottom: 1px solid var(--grey);
    border-bottom-radius: 5px;
    background: var(--back);
}
.navbar-brand img {
    border-radius: 10px;
    margin: 0 5px;
}

.social svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

/* content */

.content {
    grid-column-start: 2;
    grid-row-start: 2;
}

.content-footer{
    text-align: center;
    line-height: 0.8;
    color: var(--grey);
}

/* Home page */

.home-page{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    z-index: 0;
}

.welcome{
}

.welcome h1{
    --bs-heading-color: var(--bs-emphasis-color);
    line-height: 1 !important;
    font-weight: 600 !important;
    font-size: 4rem;
    margin-bottom: 1rem !important;
}

.welcome p{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--bs-secondary-color);
    margin-bottom: 1.5rem !important;
}

.welcome a{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.5rem !important;
    padding: .8125rem 2rem;
}

.profile-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1.5rem !important;
    transition: 0.25s;
}

.profile-container:hover{
    transform: translateY(-5px) scale(1.01);
}

.profile-picture,
.profile-picture img{
    position: relative;
    width: 200px;
    border-radius: 20px;
    aspect-ratio: 1;
    object-fit: cover;
}

.profile-picture::after{
    content:'';
    position: absolute;
    background: conic-gradient(transparent 10%, var(--primary-color), transparent 90%);
    filter: blur(1rem);
    border-radius: inherit;
    inset: -7px;
    z-index: -1;
}



/* Project page */

.project-grid{
    //display: flex;
    //flex-wrap: wrap;
    //grid-template-columns: repeat(2,1fr);
    //grid-gap: 15px;
    //grid-auto-rows: minmax(100px, auto);
    //position: relative;
    //z-index: 0;
}

.project-card{
    //--background-imagesrc: none;
    //width: 25rem;
    //border-radius: 10px;
    //padding: 0.5rem;
    //text-decoration: none;
    //color: var(--white);
    //background: var(--foreground);
    //position: relative;
    //transition: 1s;
}
//
//.project-card-img{
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-image: var(--background-imagesrc);
//    border-radius: inherit;
//    opacity: 0;
//    z-index: 0;
//    object-fit: cover;
//    transition: 1s;
//}
//
//@property --project-card-start-gradient {
//    syntax: '<percentage>';
//    inherits: false;
//    initial-value: 45%;
//}
//@property --project-card-end-gradient {
//    syntax: '<percentage>';
//    inherits: false;
//    initial-value: 55%;
//}
//
//.project-card::after{
//    content:'';
//    position: absolute;
//    --project-card-start-gradient: 45%;
//    --project-card-end-gradient: 55%;
//    background: conic-gradient(from 70deg,transparent var(--project-card-start-gradient), var(--primary), transparent var(--project-card-end-gradient));
//    border-radius: inherit;
//    inset: -2px;
//    z-index: -1;
//    transition:
//            --project-card-start-gradient 1s ease,
//            --project-card-end-gradient 1s ease;
//}
//
//.project-card:hover::after{
//    --project-card-start-gradient: 5%;
//    --project-card-end-gradient: 95%;
//}
//.project-card:hover .project-card-img{
//    opacity: 1;
//}

// Blog card

.blog-card img{
    width: 30%;
    object-fit: cover;
}

/* Side bar */

.side-bar {
    position: sticky;
    inset-inline-start: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    top: 0;
    height: 100%;
    min-height: 1000px;
    width: 280px;
}

/* nav styles */

.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
}
.menu :hover {
    background-color: #c5c5c5;
}

.nav-link svg{
    alignment-baseline: central;
    width: 10%;
    margin: 0 0.5em 0 0;
    fill: currentColor;
}

.nav-link:hover{
    color: var(--bs-emphasis-color);
    background-color: var(--bs-secondary-bg);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .menu {
        display: none;
    }
}